body {
    background: rgb(185, 240, 250);
    font-family: "Comic Sans MS", fantasy;
}

a {
    color: rgb(71, 71, 202);
}

a:hover {
    color: brown;
}

a:active {
    color: black;
}

.header {
    background-color: rgb(255, 163, 186);
    color: white;
    padding: 5px 10px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 35px;
    padding-bottom: 20px;
}

.footer {
    background-color: rgb(255, 163, 186);
    color: white;
    padding: 5px 10px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 35px;
}

.extra-info {
    float: right;
    width: 30%;
    margin-left: 30px;
    background-color: rgb(255, 163, 186);
    padding: 5px 10px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 35px;
    margin-top: 20px;
}

@media only screen and (min-width: 600px) {
    #phone-visibility {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    body {
        visibility: hidden;
    }

    #phone-visibility {
        visibility: visible;
    }

    body {
        font-family: sans-serif;
    }
}